<div class="page">
    <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon"/>
    <label for="menu-icon"></label>
    <nav class="page__menu menu">
      <ul class="menu__list r-list">
        <li class="menu__group">
          <a routerLink="" class="menu__link r-link text-underlined">Home</a>
        </li>
        <li class="menu__group">
          <a  class="menu__link r-link text-underlined" href="https://ibautista007.github.io/personal-portfolio/assets/Isaias_Bautista_Resume.pdf" download="Isaias_Bautista_Resume.pdf">Resume</a>
          <!--<a routerLink="about" class="menu__link r-link text-underlined">Resume</a> -->
        </li>
        <li class="menu__group">
          <a routerLink="about" class="menu__link r-link text-underlined">JOBS</a>
        </li>
        <li class="menu__group">
          <a routerLink="about" class="menu__link r-link text-underlined">About me</a>
        </li>
        <li class="menu__group">
          <a routerLink="contact" class="menu__link r-link text-underlined">Contact</a>
        </li>
      </ul>
    </nav>
</div>


  <div class="section-center">    
  </div>