<div class="page">
    <nav class="page__menu menu">
      <ul class="menu__list r-list">
        <li class="menu__group">
          <a routerLink="" class="menu__link r-link text-underlined">Home</a>
        </li>
        <li class="menu__group">
          <a routerLink="about" class="menu__link r-link text-underlined">Resume</a>
        </li>
        <li class="menu__group">
          <a routerLink="about" class="menu__link r-link text-underlined">JOBS</a>
        </li>
        <li class="menu__group">
          <a routerLink="about" class="menu__link r-link text-underlined">About me</a>
        </li>
        <li class="menu__group">
          <a routerLink="contact" class="menu__link r-link text-underlined">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
  